:root{
  --preto: #19191B;
  --cinza: rgba(255, 255, 255, 0.651);
  --branco: white;
}

/* geral da pagina */
body, html{
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    color: var(--preto);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--shadowCali);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1000;
}
.logo img{
    width: 80px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav a{
    color: var(--preto);
    margin: 0rem 1.3rem;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
nav a:hover{
    color: var(--preto);
    margin: 0rem 1.4rem;
    transition: 0.5s ease-in-out;
}
header button{
    border: 1px solid var(--preto);
    color: var(--preto);
    font-size: 1rem;
    font-weight: 700;
}
header button:hover{
    background-color: var(--preto);
}

/* main */
.section-1{
    padding: 30px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.text{
    width: 400px;
}
.text h1{
    font-size: 2.5rem;
    font-weight: bolder;
}
.text h1 span{
    font-size: 2.6rem;
}
#typing {
    white-space: nowrap;
    overflow: hidden;
    height: 48px;
    border-right: 2px solid var(--preto);
    display: inline-block;
  }
.text p{
    width: 300px;
}
.section-1 button{
    background-color: var(--preto);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 700;
    width: 180px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-1 button:hover{
    background-color: var(--branco);
    border: 1px solid var(--preto);
    color: var(--preto);
}
.section-1 img{
    width: 400px;
}

.section-2{
    padding: 30px;
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.texts{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    margin-top: 30px;
}
.section-2 p{
    max-width: 350px;
    margin: 10px;
}

.section-3{
    padding: 30px;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-top: 30px;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px;
}
.skill img{
    width: 90px;
    background-color: var(--branco);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.text_skill{
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
    width: 250px;
    padding: 10px;
    border: 1px solid var(--preto);
    background: var(--shadowCali);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border-radius: 10px;
    color: var(--preto);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 45px);
    text-align: center;
    z-index: 1;
}
.skill:hover .text_skill{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 40px);
}
.skill:hover img{
    background-color: var(--branco);
    opacity: 0.5;
}

.section-4{
    padding: 30px;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.projetos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-top: 30px;
}
.projeto {
    position: relative;
    width: 340px;
    height: 200px;
    overflow: hidden;
    margin: 30px;
}
.projeto img {
    width: 100%;
    height: 100%;
    border: 1px solid var(--preto);
    border-radius: 10px;
    display: block;
}
.projeto .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shadowCali);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border-radius: 10px;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    text-align: center;
}
.projeto:hover .info {
    opacity: 1;
    visibility: visible;
}
.section-4 button {
    background-color: var(--branco);
    color: var(--preto);
    font-size: 1rem;
    font-weight: 700;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
.section-4 button:hover {
    background-color: transparent;
    border: 2px solid var(--branco);
    color: var(--branco);
}

.section-5{
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.section-5 img{
    width: 300px;
}
form{
    max-width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form h2{
    margin-bottom: 15px;
}
label{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}
.input{
    background-color: var(--branco);
    border: 1px solid var(--preto);
    color: var(--preto);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
.input:hover{
    background-color: var(--preto);
    color: var(--branco);
    transition: 0.5s ease-in-out;
}
.input:focus{
    outline: none;
    background-color: var(--preto);
    color: var(--branco);
    transition: 0.5s ease-in-out;
}
.button_form{
    border: 1px solid var(--preto);
    color: var(--preto);
    background-color: var(--branco);
    border-radius: 5px;
    padding: 5px;
    width: 97%;
    font-size: 1rem;
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.button_form:hover{
    background-color: var(--preto);
    color: var(--branco);
    transition: 0.5s ease-in-out;
}

.section-6{
    padding: 30px;
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
}
.redes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin-top: 30px;
}
.rede{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 40px;
}
.rede img{
    width: 90px;
    background-color: var(--branco);
    padding: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}
.text_rede{
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.4s ease-in-out;
    width: 150px;
    padding: 10px;
    border: 1px solid var(--preto);
    background: var(--shadowCali);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border-radius: 10px;
    color: var(--preto);
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 45px);
    text-align: center;
    z-index: 1;
}
.rede:hover .text_rede{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 40px);
}
.rede:hover img{
    background-color: var(--branco);
    opacity: 0.5;
}


.tema{
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 1100;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--preto);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--branco);
    border-radius: 25px;
}
.tema:hover{
    width: 55px;
    height: 55px;
}
.tema img{
    weight: 40px;
    height: 40px;
}

/* footer */
footer{
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: var(--preto);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--branco);
}
.logoFooter{
    width: 100px;
    height: 85px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wave{
    position: absolute;
    top: -90px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../imgs/footer/waveBlack.png);
    background-size: 1000px 100px;
    filter: blur(4px);
}
.wave.wave1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
}
.wave.wave2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
}
.wave.wave3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
}
.wave.wave4{
    animation: wave 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
}
@keyframes wave {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes wave2{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}


.blur-fundo-1{
    width: 60px;
    height: 60px;
    background-color: var(--preto);
    position: absolute;
    filter: blur(30px);
    left: 100px;
    top: 100px;
}
.blur-fundo-2{
    width: 50px;
    height: 50px;
    background-color: var(--preto);
    position: absolute;
    filter: blur(30px);
    right: 100px;
    bottom: 100px;
}